Package: 1c-enterprise-{{version_dot}}-common
Version: {{version_dot_minus}}
Section: non-free/database
Priority: optional
Architecture: amd64
Installed-Size: 500000
Homepage: http://www.1c.ru/
Maintainer: 1C <v8@1c.ru>
Description: 1C:Enterprise 8.3 common components
  1C:Enterprise 8.3 common components.
  This set of components is required for server,
  web-services of 1C:Enterprise 8.3 or client applications.
