Package: 1c-enterprise-{{version_dot}}-server
Version: {{version_dot_minus}}
Section: non-free/database
Priority: optional
Architecture: amd64
Installed-Size: 1000000
Depends: 1c-enterprise-{{version_dot}}-common (= {{version_dot_minus}})
Homepage: http://www.1c.ru/
Maintainer: 1C <v8@1c.ru>
Description: 1C:Enterprise {{version_dot}} server
    1C:Enterprise {{version_dot}} server. The server is designed to work in client-server mode with 1C databases
    running by the DBMS (PostgreSQL, IBM DB2, Oracle Database).
    It manages the 1C:Enterprise processes.
