Package: 1c-enterprise-{{version_dot}}-thin-client
Version: {{version_dot_minus}}
Section: non-free/database
Priority: optional
Architecture: amd64
Installed-Size: 1000000
Depends: 1c-enterprise-{{version_dot}}-common( >= {{version_dot_minus}} )
Homepage: http://www.1c.ru/
Maintainer: 1C <v8@1c.ru>
Description: 1C:Enterprise 8.3 thin client for Linux.
    1C:Enterprise 8.3 thin client for Linux.
    1C:Enterprise 8.3 thin client for Linux
